.list {
  display: flex;

  margin-top: 10px;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.button {
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  min-width: 100px;

  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.button:hover {
  color: crimson;
  background-color: plum;
  border: 1px solid plum;

  transition: all 200ms linear;
}
